<div style=\"text-align:right\"><div style=\"width:167px; height:32px;\" class=\"ib cover-barcode\"/></div>
<div style=\"position: relative; padding-top: 12px;\">
	<div style=\"height:64px; width:64px\" class=\"ib axaLogo\"/>
	<div style=\"position:absolute; font-size: 8pt; right: 12px; top: 0px;\">AXA FNA Version 10/0320</div>
</div>
<div style=\"width: 640px; height: 590px;margin-top: 48px;\" class=\"ib cover-image\"/>
<div style=\"font-size: 9.5pt;\">
   <div class=\"pTop16\">
      <div class=\"ib\">Client Name: </div>
		<div class=\"ib u tc\" style=\"width: 36%\">
		   <xsl:value-of select=\"/root/owner/name\"/>
		</div>
		<div class=\"ib\">Spouse Name: </div>
		<div class=\"ib u tc\" style=\"width: 35%\">
		   <xsl:if test=\"/root/hasSpouse = 'Y'\"><xsl:value-of select=\"/root/spouse/name\"/></xsl:if>
		</div>
   </div>
   <div class=\"pTop16\">
      <div class=\"ib\">Financial Consultant: </div>
      <div class=\"ib u tc\" style=\"width: 78%\">
         <xsl:value-of select=\"/root/agent/name\"/>
      </div>
   </div>
   <div class=\"pTop16\">
      <div class=\"ib\">Code: </div>
      <div class=\"ib u tc\" style=\"width: 42%\">
         <xsl:value-of select=\"/root/agent/code\"/>
      </div>
      <div class=\"ib\">Mobile: </div>
      <div class=\"ib u tc\" style=\"width: 41%\">
         <xsl:value-of select=\"/root/agent/mobile\"/>
      </div>
   </div>
</div>
<div class=\"pagebreak\"/>
