	<div>
	<span class=\"b\" style=\"font-size: 18.0pt;color: #00529C;\">Recommendations</span>
	<div class=\"pageEnd ib\" style=\"vertical-align:bottom; width: 16px; height: 16px;\"/>
	</div>
	<table class=\"w100 mt8 pt9\">
	<tr>
	<td colspan=\"4\" class=\"nheader nborder\">My Financial Consultant's recommendations</td>
	</tr>
	<tr>
	<td colspan=\"4\" class=\"nsheader2 nborder pd8\">My needs/goals</td>
	</tr>
	<tr>
	<td class=\"nborder pd4 b vc\" style=\"width: 72px;\">Ranking No.</td>
	<td class=\"nborder pd4 tc b vc\">Priority</td>
	<td class=\"tc nborder pd4 b vc\" style=\"width 75px;\">When are the funds needed?</td>
	<td class=\"tc nborder pd4 b\" style=\"width 105px;\">Shortfall<br/>(S$)</td>
	</tr>
	<xsl:for-each select=\"/root/recommendProd\">
	<tr>
	<td class=\"nborder pd4\"><xsl:value-of select=\"position()\"/>.</td>
	<td class=\"nborder pd4\"><xsl:value-of select=\"name\"/><br/><xsl:value-of select=\"aspect\"/></td>
	<td class=\"nborder pd4 tr\"><xsl:if test=\"timeHorizon\"><xsl:value-of select=\"timeHorizon\"/> years</xsl:if></td>
	<td class=\"nborder pd4 tr\">
		<xsl:if test=\"totShortfall &lt; 0\">
			<xsl:if test=\"aspect = 'Retirement planning'\">Total Shortfall: </xsl:if>
			<xsl:value-of select=\"format-number((totShortfall * -1), '#,###.00')\"/>
		</xsl:if>
		<xsl:if test=\"totShortfall = 0\">
			<xsl:if test=\"aspect = 'Retirement planning'\">Total Shortfall: </xsl:if>
			0.00
		</xsl:if>
		<xsl:if test=\"annRetireIncome &lt; 0\">
			<br/>Annual Retirement Income: 
			<xsl:value-of select=\"format-number((annRetireIncome * -1), '#,###.00')\"/>
		</xsl:if>
	</td>
	</tr>
	</xsl:for-each>
	</table>
	<xsl:for-each select=\"/root/cmdProd\">
	<xsl:if test=\"position() &gt; 1\"><div class=\"pagebreak\"/></xsl:if>
	<table class=\"w100 pt9 mt16\">
	<td class=\"border pd4\" colspan=\"9\" style=\"text-align: center;vertical-align: center;\">Life Assured: <xsl:value-of select=\"items[1]/iName\"/></td>
	<tr>
	<td class=\"border\" rowspan=\"3\" style=\"width: 16px;\">
		<div style=\"margin: 4px; width: 16px; height: 16px; border: solid 1.5pt;\" >
			<xsl:if test=\"isSelected = 'Y'\"><div class=\"tick3\" style=\"margin: auto\"/></xsl:if>
		</div>
	</td>
	<td class=\"tc border nheader3\" style=\"width: 85px;\"><div class=\"lbd bbc\"/>Plan(s)/<br/>Rider(s)<br/>Recommended</td>
	<td class=\"tc border nheader3\" style=\"width: 70px;\"><div class=\"lbd bbc\"/>Policy<br/>Type</td>
	<td class=\"tc border nheader3\" style=\"width: 50px; max-width: 50px;\"><div class=\"lbd bbc\"/>Term/<br/>Age<br/>Upto</td>
	<td class=\"tc border nheader3\" style=\"width: 50px; max-width: 50px\"><div class=\"lbd bbc\"/>Premium<br/>Payment Term</td>
	<td class=\"tc border nheader3\" style=\"width: 60px; \"><div class=\"lbd bbc\"/>Sum Assured/<br/>Benefit <xsl:if test=\"items[1]/covCode='ART2'\">*</xsl:if></td>
	<td class=\"tc border nheader3\" style=\"width: 50px; \"><div class=\"lbd bbc\"/>Premium</td>
	<td class=\"tc border nheader3\" style=\"width: 50px; max-width: 50px;\"><div class=\"lbd bbc\"/>Payment<br/>Mode</td>
	<td class=\"tc border nheader3\" style=\"width: 50px; max-width: 50px;\"><div class=\"lbd bbc\" />Premium <br/>Mode<br/><font style=\"font-size: 7pt;\">(RP/SP/<br/>CPFIS-OA/<br/>CPFIS-SA/SRS)</font></td>
	</tr>
	<tr>
	<td class=\"border pd4\" colspan=\"1\">Policy Currency</td>
	<td class=\"border pd4\" colspan=\"3\"><xsl:value-of select=\"items[1]/ccy\"/></td>
	<td class=\"border pd4\">($)</td>
	<td class=\"border pd4\">($)</td>
	<td class=\"border pd4\"></td>
	<td class=\"border pd4\"></td>
	</tr>
	<xsl:for-each select=\"items\">
	<tr>
	<xsl:if test=\"position() &gt; 1\"><td class=\"border pd4\"/></xsl:if>
	<td class=\"border pd4 wb\" style=\"width: 85px;\"><xsl:value-of select=\"covName/en\"/></td>
	<td class=\"border pd4 wb\" style=\"width: 70px;\"><xsl:value-of select=\"productLineTitle\"/></td>
	<td class=\"border pd4 wb\" style=\"width: 50px; max-width: 50px;\"><xsl:value-of select=\"policyTerm\"/></td>
	<td class=\"border pd4 wb\" style=\"width: 50px; max-width: 50px;\"><xsl:value-of select=\"premTermDesc\"/></td>
	<td class=\"border pd4 tr\" style=\"width: 60px;\"><xsl:value-of select=\"sumInsured\"/></td>
	<td class=\"border pd4 tr\" style=\"width: 50px;\"><xsl:value-of select=\"premium\"/></td>
	<td class=\"border pd4 wb\" style=\"width: 50px; max-width: 50px;\"><xsl:value-of select=\"frequency\"/></td>
	<td class=\"border pd4 wb\" style=\"width: 50px; max-width: 50px;\"><xsl:value-of select=\"mode\"/></td>
	</tr>
	</xsl:for-each>
	</table>
	<xsl:if test=\"items[1]/covCode='AWICA' or items[1]/covCode='AWICP' or items[1]/covCode='AWTR' or items[1]/covCode='FX2' or items[1]/covCode='FPX' or items[1]/covCode='FSX'\">
		<div class=\"mt16 pt9\"></div>
		<xsl:if test=\"items[1]/covCode='AWTR' or items[1]/covCode='FPX' or items[1]/covCode='FSX' or items[1]/covCode='FX2'\">
			<xsl:if test=\"number(policyOptionsDesc/topUpAmt) = policyOptionsDesc/topUpAmt\">
				<span class=\"mt16 pt9\" style=\"padding-right: 25px;\">
					Top-Up Single Premium: S$ <xsl:value-of select=\"format-number((policyOptionsDesc/topUpAmt), '#,###.00')\"/>
				</span>
			</xsl:if>
		</xsl:if>	
		<xsl:if test=\"number(policyOptionsDesc/rspAmount) = policyOptionsDesc/rspAmount\">
			<span class=\"mt16 pt9\">
				<xsl:value-of select=\"policyOptionsDesc/rspPayFreq/en\"/> RSP Amount: S$ <xsl:value-of select=\"format-number((policyOptionsDesc/rspAmount), '#,###.00')\"/>
			</span>
		</xsl:if>
	</xsl:if>
	<xsl:if test=\"items[1]/covCode='NPE' or items[1]/covCode='ART2'\">
		<div class=\"pt9\">
			* Guaranteed Annual Income is payable at the Policy Anniversary immediately after the end of Payment Term and Accumulation Period (if any).
		</div>
	</xsl:if>
	<xsl:if test=\"type='SHIELD'\">
		<div class=\"pt9\" style=\"display: inline-block; width: 28%;\">
			Total Medisave: <xsl:value-of select=\"shieldInfo/totMedisave\"/>
		</div>
		<div class=\"pt9\" style=\"display: inline-block; width: 28%;\">
			Total Cash portion: <xsl:value-of select=\"shieldInfo/totCashPortion\"/>
		</div>
		<div class=\"pt9\" style=\"display: inline-block; width: 40%;\">
			Total Premium (inc. Medishield Life): <xsl:value-of select=\"shieldInfo/totPremium\"/>
		</div>
	</xsl:if>
	<xsl:if test=\"items[1]/productLine = 'IL'\">
	<table class=\"w100 pt9 mt16\">
	<tr>
	<td class=\"border nheader3\" style=\"width:50%\">
	Fund(s) selected by Client
	</td>
	<td class=\"border nheader3\" style=\"width:22%\">
	Allocation (% of Premium)
	</td>
	<td class=\"border nheader3\" style=\"width:28%\">
	Fund(s) in line with client's risk profile?
	</td>
	</tr>
	<xsl:for-each select=\"funds\">
	<tr>
	<td class=\"border vt\">
	<div style=\"min-height: 12px;\"><xsl:value-of select=\"fundName/en\"/></div>
	</td>
	<td class=\"border vt\">
	<div style=\"min-height: 12px;\"><xsl:value-of select=\"alloc\"/></div>
	</td>
	<xsl:if test=\"position() = 1\">
	<td rowspan=\"99\" class=\"tc pd8 border\">
	<div style=\"min-height: 12px;\"><xsl:if test=\"fundName/en\">Yes</xsl:if></div>
	</td>
	</xsl:if>
	</tr>
	</xsl:for-each>
	</table>
	<div class=\"mt16 pt9\">Note : Fund(s) that are not in line with the client's risk profile cannot be selected.</div>
	</xsl:if>

	<table class=\"mt16 w100 pt9\">
	<tr>
	<td class=\"nheader2 border\">
	<div>
	Reasons for every Plan and Rider(s) recommended<br/>
	Example:
	</div>
	<ul style=\"margin: 0px\">
	<li>State how the plan meets client's need(s)</li>
	<li>State how client will be able to service the premiums if the premium payment term (i) exceeds the current statutory age of 62 for employment or (ii) exceeds the client's indicated retirement age (if earlier than age 62)</li>
	<li>Policy Term vs when funds are needed</li>
	</ul>
	</td>
	</tr>
	<tr>
	<td class=\"border\">
	<div class=\"pd8\" style=\"min-height: 120px;\">
	<xsl:value-of select=\"choice/recommendation/reason\"/>
	</div>
	</td>
	</tr>
	</table>

	<table class=\"mt16 w100 pt9\">
	<tr>
	<td class=\"nheader2 border\">
	<div>
	Benefits of every Plan and Rider(s)  recommended<br/>
	Example:
	</div>
	<ul style=\"margin: 0px\">
	<li>State and explain the features and benefits of the Plan and Rider(s) recommended, relating to client's priorities</li>
	</ul>
	</td>
	</tr>
	<tr>
	<td class=\"border\">
	<div class=\"pd8\" style=\"min-height: 120px;\">
	<xsl:value-of select=\"choice/recommendation/benefit\"/>
	</div>
	</td>
	</tr>
	</table>

	<table class=\"mt16 w100 pt9\">
	<tr>
	<td class=\"nheader2 border\">
	<div>
	Limitations of every Plan and Rider(s)  recommended<br/>
	Example:
	</div>
	<ul style=\"margin: 0px\">
	<li>State justification if premiums are more than Client's budget</li>
	<li>State justification if client's choice of product differs from representative's recommended plan</li>
	<li>State any possible risk of the Plan and rider(s) recommended, relating to the client's priorities</li>
	<li>State possible disadvantage(s) based on  circumstance of client</li>
	</ul>
	</td>
	</tr>
	<tr>
	<td class=\"border\">
	<div class=\"pd8\" style=\"min-height: 120px;\">
	<xsl:value-of select=\"choice/recommendation/limitation\"/>
	</div>
	</td>
	</tr>
	</table>

	<xsl:if test=\"isSelected = 'Y'\">

	<xsl:choose>
		<xsl:when test=\"type = 'SHIELD'\">
	<table class=\"w100 pt9\">
	<tr>
	<td class=\"nheader2 border mt16\">Replacement of Policy / Switching of Product (For Shield Cases)</td>
	</tr>
	<tr>
	<td class=\"border\">
	<div class=\"pd8\" style=\"min-height: 120px;\">
	<div class=\"pt9\">Client's Declaration on Policy Replacement / Switching</div>
	<div class=\"ui pt9 mt16\">
	Is this proposal to replace or intended to replace an existing integrated Shield plan?
	<font class=\"b\"><xsl:choose><xsl:when test=\"choice/Q1='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></font>
	</div>
	<div class=\"pt9 mt8\">
	i) Is this replacement of policy advised by the financial consultant?
	<font class=\"b\"><xsl:choose><xsl:when test=\"choice/Q2='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></font>
	<br/>
	ii) The financial consultant has explained the following to your satisfaction in the event a replacement of policy should take place.
	<font class=\"b\"><xsl:choose><xsl:when test=\"choice/Q3='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></font>
	<div class=\"mt8 pt9\">
	There are implications associated with this replacement/switch. Please be aware that the implications may outweigh any potential benefits. Some of the implication include the following:
	<div style=\"padding-left: 12px;\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">a)</div>
		<div class=\"dtc\">Pre-existing conditions previously insured may be excluded in the new policy.</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">b)</div>
		<div class=\"dtc\">Each Life Assured can only have one integrated shield plan. Once the new policy commences, the previous integrated Shield plan will be terminated automatically.</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">c)</div>
		<div class=\"dtc\">You may not be insurable on standard terms.</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">d)</div>
		<div class=\"dtc\">The new policy may offer a lower level of benefit at a higher cost or same cost, or offer the same level of benefit at a higher cost; and</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">e)</div>
		<div class=\"dtc\">The new policy may be less suitable for you.</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px;\">f)</div>
		<div class=\"dtc\">If you purchase a rider for your AXA Shield Plan, it will have co-payment. Any rider with no co-payment on your Existing Integrated Shield plan bought prior to 8 Mar 2019 will be cancelled. </div>
	</div>
	</div>
	</div>
	</div>
	<div class=\"mt16\" style=\"padding-left: 16px;\">
	<div style=\"font-weight: bold; margin-top: 12px;\">
		Representative's Declaration on Policy Replacement / Switching
	</div>
	<div style=\"margin-top:12px\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px\">
			<xsl:if test=\"choice/recommendation/rop/isConsultantExplanedRopinShield = 'Y'\"><div class=\"btick\"/></xsl:if>
		</div>
		<div class=\"dtc\">
			I have explained to the client the possible disadvantages of policy replacement and where applicable, informed him/her of other options available besides policy replacement.
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px\">
			<xsl:if test=\"choice/recommendation/rop/isConsultantExplanedRopinShield = 'Y'\"><div class=\"btick\"/></xsl:if>
		</div>
		<div class=\"dtc\">
			I have also explained the basis for policy replacement and why the replacement of policy is suitable for the client below:
			<br/>
      (Please provide the basis for policy replacement)


		</div>
  </div>
  <xsl:if test=\"choice/Q1='Y'\">
  <div style=\"font-weight: bold; margin-top: 12px;\">
    Basis of Policy Replacement / Switching
  </div>
  <div class=\"mt16\" style=\"min-height: 60px;\">
    <xsl:value-of select=\"choice/recommendation/rop/choiceQ1Sub3\"/>
  </div>
  </xsl:if>

	</div>
	</div>
	</div>
	</td>
	</tr>
	</table>
		</xsl:when>
		<xsl:otherwise>
	<table class=\"w100 pt9\">
	<tr>
	<td class=\"nheader2 border mt16\">Replacement of Policy / Switching of Product (For Non-Shield Cases)</td>
	</tr>
	<tr>
	<td class=\"border\">
	<div class=\"pd8\" style=\"min-height: 120px;\">
	<div class=\"pt9\">Client's Declaration on Policy Replacement / Switching</div>
	<div class=\"ui pt9 mt16\">
	Do you intend to purchase a  policy to replace (in part or full) any existing or recently terminated insurance policy, or other investment product from AXA Insurance Pte Ltd or  other Financial Institution ?
	<font class=\"b\"><xsl:choose><xsl:when test=\"choice/recommendation/rop/choiceQ1='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></font>
	</div>
	<div class=\"pt9 mt8\">
	i) Is this replacement of policy advised by the financial consultant?
	<font class=\"b\"><xsl:if test=\"choice/recommendation/rop/choiceQ1='Y'\"><xsl:choose><xsl:when test=\"choice/recommendation/rop/choiceQ1Sub1='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></xsl:if></font>
	<br/>
	ii) The financial consultant has explained the following to your satisfaction in the event a replacement of policy should take place.
	<font class=\"b\"><xsl:if test=\"choice/recommendation/rop/choiceQ1='Y'\"><xsl:choose><xsl:when test=\"choice/recommendation/rop/choiceQ1Sub2='Y'\">Yes</xsl:when><xsl:otherwise>No</xsl:otherwise></xsl:choose></xsl:if></font>
	<div class=\"mt8 b pt9\">WARNING NOTE:</div>
	<div class=\"mt8 pt9\">
	It is usually disadvantageous to replace an existing life insurance policy or other investment product with a new one. Some of the implications and impact:
	<div style=\"padding-left: 12px;\">
	a)	You may incur transaction costs without gaining any real benefit from the replacement.<br/>
	b)	You may incur penalties for terminating any of your existing policies.<br/>
	c)	You may not be insurable at standard terms.<br/>
	d)	The replacement plan may offer a lower level of benefit at a higher cost or same cost, or offer the same level of benefit at a higher cost.<br/>
	e)	The replacement plan may be less suitable and the terms and conditions may differ.<br/>
	f)	There may be other options available besides policy replacement (e.g. free switching facilities for investment policy)
	</div>
	</div>
	</div>
	<div class=\"mt16\" style=\"padding-left: 16px;\">
	<div style=\"font-weight: bold; margin-top: 12px;\">
		Representative's Declaration on Policy Replacement / Switching
	</div>
	<div style=\"margin-top:12px\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px\">
			<xsl:if test=\"choice/recommendation/rop/choiceQ1Sub2 = 'Y'\"><div class=\"btick\"/></xsl:if>
		</div>
		<div class=\"dtc\">
			I have explained to the client the possible disadvantages of policy replacement and where applicable, informed him/her of other options available besides policy replacement.
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 24px\">
			<xsl:if test=\"choice/recommendation/rop/choiceQ1Sub2 = 'Y'\"><div class=\"btick\"/></xsl:if>
		</div>
		<div class=\"dtc\">
			I have also explained the basis for policy replacement and why the replacement of policy is suitable for the client below:
			<br/>
      (Please provide the basis for policy replacement)
		</div>
  </div>
  <xsl:if test=\"choice/recommendation/rop/choiceQ1 = 'Y'\">
  <div style=\"font-weight: bold; margin-top: 12px;\">
    Basis of Policy Replacement / Switching
  </div>
  <div class=\"mt16\" style=\"min-height: 60px;\">
    <xsl:value-of select=\"choice/recommendation/rop/choiceQ1Sub3\"/>
  </div>
  </xsl:if>
	</div>
	</div>
	</div>
	</td>
	</tr>
	</table>
	</xsl:otherwise>
	</xsl:choose>

	</xsl:if>
	</xsl:for-each>
	<table class=\"w100 pt9 mt16\">
	<tr>
	<td class=\"border nheader2\">
	Reason for Deviation in Premium vs Budget
	</td>
	</tr>
	<tr>
	<td class=\"pd8 border\">
	<div>Overall Summary</div>
	<table class=\"w100 pt9\">
	<tr>
	<td class=\"border nheader3 tc\" style=\"width:112px\">

	</td>
	<td class=\"border nheader3 tc\" style=\"width:102px\">
	<div class=\"lbd bbc\"/>
	Regular Premium plan
	</td>
	<td class=\"border nheader3 tc\" style=\"width:108px\">
	<div class=\"lbd bbc\"/>Single Premium Plan (Cash)
	</td>
	<td class=\"border nheader3 tc\" style=\"width:90px\">
	<div class=\"lbd bbc\"/>CPF-OA
	</td>
	<td class=\"border nheader3 tc\" style=\"width:90px\">
	<div class=\"lbd bbc\"/>CPF-SA
	</td>
	<td class=\"border nheader3 tc\" style=\"width:72px\">
	<div class=\"lbd bbc\"/>SRS
	</td>
	<td class=\"border nheader3 tc\">
	<div class=\"lbd bbc\"/>Medisave
	</td>
	</tr>
	<tr>
	<td class=\"pd4 border\">Premium proposed</td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/rpTotalPremium\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/spTotalPremium\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfOaTotalPremium\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfSaTotalPremium\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/srsTotalPremium\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfMsTotalPremium\"/></td>
	</tr>
	<tr>
	<td class=\"pd4 border\">Budget</td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/rpBudget\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/spBudget\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfOaBudget\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfSaBudget\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/srsBudget\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfMsBudget\"/></td>
	</tr>
	<tr>
	<td class=\"pd4 border\">(More)/Less</td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/rpCompare\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/spCompare\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfOaCompare\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfSaCompare\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/srsCompare\"/></td>
	<td class=\"pd4 border\"><xsl:value-of select=\"/root/clientChoiceBudget/cpfMsCompare\"/></td>
	</tr>
	</table>
	<table class=\"w100 pt9 mt8\">
	<tr>
	<td class=\"nheader2\">
	Proposed premium is more than your given budget. Please justify.
	</td>
	</tr>
	<tr>
	<td>
	<div class=\"pd8\">
	<xsl:value-of select=\"/root/clientChoiceBudget/budgetMoreReason\"/>
	</div>
	</td>
	</tr>
	</table>
	<table class=\"w100 pt9 mt8\">
	<tr>
	<td class=\"nheader2\">
	Proposed premium is less than your given budget. Please justify.
	</td>
	</tr>
	<tr>
	<td>
	<div class=\"pd8\">
	<xsl:value-of select=\"/root/clientChoiceBudget/budgetLessReason\"/>
	</div>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>

	<div class=\"pagebreak\"/>
	<table class=\"w100 pt9 mt8\">
	<tr>
	<td class=\"nheader border\">
	Client's reference checklist
	</td>
	</tr>
	<tr>
	<td>
	<div class=\"b mt16\">My Financial Consultant has explained the following to me/us:</div>
	<div class=\"b mt8\">1. About the product</div>
	<div class=\"mt8\" style=\"padding-left: 16px;\">
	<div class=\"b\">My Financial Consultant has taken me through the product summary (for insurance policies) or prospectus (for Unit Trusts - UT) and his/her explanation included the following:</div>
	<ul style=\"margin: 0px; padding-left: 16px\">
	<li>Nature and objective of the product</li>
	<li>Amount, frequency and period over which I/we need to make payments</li>
	<li>Risks involved</li>
	<li>Warnings, exclusions and disclaimers (e.g. inaccurate or incomplete information could affect suitability of the recommended product and may, in the case of an insurance policy, make the policy invalid)</li>
	<li>My right to have a 21 day free-look period for AXA Shield, 14-day free-look period for insurance policies, 7-day free-look period for UT and The free look refund for ILPs/UTs is subject to market value adjustments.</li>
	<li>Fees and charges</li>
	<li>How I can convert my investment into cash</li>
	<li>How can I sell units or switch funds</li>
	<li>How often I will receive updates and reports on the performance of investment</li>
	<li>That past performance is not necessary indicative of future performance and the value of my investment could go up or down</li>
	<li>Presented a full suite of available investment funds for me to select from, for the investment linked plan/s.</li>
	</ul>
	</div>

	<div class=\"b mt8\">2. About the policy illustration (where applicable)</div>
	<div class=\"mt8\" style=\"padding-left: 16px;\">
	<div class=\"b\">My Financial Consultant has taken me/us through the Policy Illustration and his/her explanation included the following information:</div>
	<ul style=\"margin: 0px; padding-left: 16px\">
	<li>The Policy Illustration is intended for illustrative purpose only</li>
	<li>Which components are guaranteed and which are not</li>
	<li>Distribution costs</li>
	<li>That assumptions are used in the illustrated maturity values</li>
	<li>Changes in the illustrated investment rate would affect illustrated values</li>
	</ul>
	</div>
	</td>
	</tr>
	</table>
	<table class=\"w100 mt16 pt8\">
	<tr>
	<td class=\"nsheader2 nborder b vc\" colspan=\"2\" style=\"font-size: 8pt\">
	<div class=\"dt\">
	<div class=\"dtc vt\" style=\"width: 16px\">3.</div>
	<div class=\"dtc vt\">
	I know that I should be presented and receive a copy of the following documents from my/our Financial Consultant:
	</div>
	</div>
	</td>
	<td class=\"nsheader2 nborder b vc\" style=\"width:54px;font-size: 8pt\"><div class=\"nlb2\"/><div class=\"tc\">Unit Trust</div></td>
	<td class=\"nsheader2 nborder b vc tc\" style=\"width:83px;font-size: 8pt\"><div class=\"nlb2\"/><div class=\"tc\">Investment-<br/>Linked Plan</div></td>
	<td class=\"nsheader2 nborder b vc tc\" style=\"width:85px;font-size: 8pt\"><div class=\"nlb2\"/><div class=\"tc\">Participating<br/>Insurance<br/>Plan</div></td>
	<td class=\"nsheader2 nborder b vc tc\" style=\"width:85px;font-size: 8pt\"><div class=\"nlb2\"/><div class=\"tc\">Non-<br/>Participating<br/>Insurance<br/>Plan</div></td>
	<td class=\"nsheader2 nborder b vc tc\" style=\"width:138px;font-size: 8pt\"><div class=\"nlb2\"/><div class=\"tc\">Health Insurance/<br/>Critical Illness Plan<br/>&amp; Rider/Medical<br/>Reimbursement Rider</div></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">1.</td>
	<td class=\"pd4 nborder\">A copy of \"Financial Needs Analysis\"</td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	</tr>
	<tr>
		<td class=\"pd4 nborder b\" style=\"width:25px\">2.</td>
		<td class=\"pd4 nborder\">Cover Page</td>
		<td class=\"pd4 nborder tc\"></td>
		<td class=\"pd4 nborder tc\"></td>
		<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
		<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
		<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">3.</td>
	<td class=\"pd4 nborder\">Policy Illustration</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	</tr>
	<tr>
		<td class=\"pd4 nborder b\" style=\"width:25px\">4.</td>
		<td class=\"pd4 nborder\">
			Bundled Product Disclosure Document
			(Bundled participating policy with death benefit > 110% of premiums/ surrender value in the 1st year)<br/>
			(Applicable for life assured 18 years and above)
		</td>
		<td class=\"pd4 nborder tc\"></td>
		<td class=\"pd4 nborder tc\"></td>
		<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
		<td class=\"pd4 nborder tc\"></td>
		<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">5.</td>
	<td class=\"pd4 nborder\">Product Summary</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">6.</td>
	<td class=\"pd4 nborder\">Your Guide to Life Insurance booklet<br/>(http://www.lia.org.sg/node/84)</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">7.</td>
	<td class=\"pd4 nborder\">Your Guide to Investment Linked-Insurance Plan<br/>(http://www.lia.org.sg/node/91)</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">8.</td>
	<td class=\"pd4 nborder\">Your Guide to Participating Insurance booklet<br/>(http://www.lia.org.sg/node/92)</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">9.</td>
	<td class=\"pd4 nborder\">Your Guide to Health Insurance Plan<br/>http://www.lia.org.sg/node/4026</td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">10.</td>
	<td class=\"pd4 nborder\">Fund Information Booklet</td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">11.</td>
	<td class=\"pd4 nborder\">Fund Prospectus (for UT)<br/>(https://www.axa.com.sg/search?q=fund+prospectus)</td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	<tr>
	<td class=\"pd4 nborder b\" style=\"width:25px\">12.</td>
	<td class=\"pd4 nborder\">Product Highlight sheet</td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"><div class=\"tick3\" style=\"margin: auto\"/></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	<td class=\"pd4 nborder tc\"></td>
	</tr>
	</table>
	<div class=\"pagebreak\"/>
	<table class=\"w100 pt9\" style=\"border: 2px red solid;\">
	<tr>
	<td class=\"nheader\">
	Client's declaration
	</td>
	</tr>
	<tr>
	<td class=\"nsheader2 nborder pdl8\">
	Client's acceptance
	</td>
	</tr>
	<tr>
	<td class=\"pd4\">
	<ol class=\"margin: 0px; padding: 0px;\">
	<li>I understand that any incomplete and/or inaccurate information provided by me, may affect the suitability of the recommendations made and the recommendations are based on the facts provided in the \"KNOW YOUR NEEDS\" section of Financial Needs Analysis.</li>
	<li>Neither AXA nor its Financial Consultant can guarantee the performance of any of the Investment-Linked funds/Unit Trusts and/or Participating Plans.</li>
	<li>While my Financial Consultant has used his/her best effort to recommend products, where applicable, to suit my financial and/or risk profile and needs, I hereby declare that any decision I make in relation to the purchase of any product is that of my own judgment. I will obtain my own advice on the tax implications and/or any ancillary implications in connection with the purchase of such product.</li>
	<li>If I choose not to provide information requested or do not want to receive advice or accept my Financial Consultant's recommendation, I acknowledge that it is my responsibility to ensure the suitability of the product(s) selected. My decision is as follow:</li>
	</ol>
	<div class=\"pd16\">
	<table class=\"w100 pt9\">
	<tr>
	<td class=\"nborder pd8\">
	I wish to agree with the following plan(s)
	</td>
	</tr>
	<xsl:for-each select=\"/root/selectedPlan\">
	<tr>
    <td class=\"nborder pd8\">
    	<xsl:if test=\"name\"><xsl:value-of select=\"name\"/><br/></xsl:if><xsl:value-of select=\"value\"/>
    </td>
	</tr>
	</xsl:for-each>
	<tr>
	<td class=\"nborder pd8\">
	I do not agree with the proposed recommendation (Please indicate your comments below)
	</td>
	</tr>
	<xsl:for-each select=\"/root/unselectedPlan\">
	<tr>

    <td class=\"nborder pd8\">
    	<xsl:if test=\"name\"><xsl:value-of select=\"name\"/><br/></xsl:if><xsl:value-of select=\"value\"/>
    </td>
	</tr>
	</xsl:for-each>
	</table>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<div class=\"pd16\">
	<div class=\"pt9 dt w100\">
	<div class=\"dtc w50\" style=\"vertical-align: bottom\">
	<div class=\"wc u\" style=\"min-height: 48px; width: 240px; position: relative;\"><div style=\"position: absolute; bottom: 0px;\">FNAREPORT_CLIENT_SIGNATURE</div></div>
	<div class=\"rc tc mt8\" style=\"width: 240px\">Client's signature</div>
	<div class=\"mt16\">Date <div class=\"ib u\" style=\"width: 150px; height: 14px;\"><div class=\"w100 wc\" style=\"height: 12px;\">FNAREPORT_MYSELF_SIGN_DATE</div></div>(dd/mm/yyyy)</div>
	</div>
	<div class=\"dtc w50\" style=\"vertical-align: bottom\">

	<div class=\"wc u\" style=\"min-height: 48px;padding-left: 16px; width: 240px; position: relative;\"><xsl:if test=\"/root/spouse/name\"><div style=\"position: absolute; bottom: 0px;\">FNAREPORT_SPOUSE_SIGNATURE</div></xsl:if></div>
	<div class=\"rc tc mt8\" style=\"width: 240px\">Spouse signature</div>
	<div class=\"mt16\">Date <div class=\"ib u\" style=\"width: 160px; height: 14px;\"><div class=\"w100 wc\" style=\"height: 12px;\"><xsl:if test=\"/root/spouse/name\">FNAREPORT_SPOUSE_SIGN_DATE</xsl:if></div></div>(dd/mm/yyyy)</div>
	</div>
	</div>
	</div>
	</td>
	</tr>
	</table>

	<div class=\"pagebreak\"/>
	<table class=\"w100 pt9\">
	<tr>
	<td colspan=\"2\" class=\"nborder nheader\">
	Representative's declaration
	</td>
	</tr>
	<tr>
	<td colspan=\"2\" class=\"nsheader2 nborder pdl8\">
	Financial Consultant's declaration
	</td>
	</tr>
	<tr>
	<td class=\"nborder pd8\" style=\"width: 60%\">
	<p>I declare that the information provided to me is strictly confidential and is only to be used in the process of recommending suitable insurance products and for post-sales transaction usage. Information shall not be used for any other purposes.</p>
	<p>I declare that this document (and Financial Plan if applicable) is an accurate and complete record of the advice and recommendation, if any, that I gave to you, the client(s). I also declare that I have acted within my authorised scope of services.</p>
	</td>
	<td class=\"nborder pd8 vt\">
	<div class=\"u w100\" style=\"height: 16px\">
	<div class=\"w100 wc\" style=\"height: 12px;\">FNAREPORT_AGENT_NAME</div>
	</div>
	<div class=\"w100\">
	Name of Financial Consultant
	</div>
	<div class=\"w100 wc\" style=\"height: 80px;position: relative\"><div style=\"position: absolute; bottom: 0px;\">FNAREPORT_AGENT_SIGNATURE</div></div>
	<div class=\"tborder w100\">
	Signature
	</div>
	<div class=\"u w100\" style=\"height: 16px\">
	<div class=\"w100 wc\" style=\"height: 12px;\">FNAREPORT_AGENT_SIGN_DATE</div>
	</div>
	<div class=\"w100\">
	Date (dd/mm/yyyy)
	</div>
	</td>
	</tr>
	</table>
	<table class=\"mt16 pt9 w100\">
	<tr>
	<td class=\"border nheader\">
	Additional note(s):
	</td>
	</tr>
	<tr>
	<td class=\"border pd8\">
	<div>The case was closed at the following event:</div>
	<div class=\"pdl8\"><xsl:choose><xsl:when test=\"/root/tickActivity='roadshow'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> 	Roadshow</div>
	<div class=\"pdl8\"><xsl:choose><xsl:when test=\"/root/tickActivity='seminar'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> 	Seminar Event</div>
	<div class=\"pdl8\"><xsl:choose><xsl:when test=\"/root/tickActivity='canvassing'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> 	Street Canvassing</div>
	</td>
	</tr>
	<tr>
	<td class=\"border pd8\">
	<div>Information on the ticked activity:</div>
	<div class=\"ib pdl8\" style=\"width: 120px;\">a) Date</div>
	<div class=\"u ib\" style=\"width: 120px\"><xsl:value-of select=\"/root/tickDate\"/></div><br/>
	<div class=\"ib pdl8\" style=\"width: 120px;\">b) Venue</div>
	<div class=\"u ib\" style=\"width: 120px\"><xsl:value-of select=\"/root/tickVenue\"/></div><br/>
	</td>
	</tr>
	</table>
	<div class=\"pagebreak\"/>
	<div style=\"height: 100%; \">
	<div class=\"b\" style=\"font-size: 11pt; position: absolute; right: 60px; bottom: 500px; color: red;\">
	<div class=\"nborder\" style=\"width: 300px; height: 180px\"/>
	<div style=\"float: right; padding-top:8px\">
	<div><div class=\"personimg ib\" style=\"width:32px; height: 32px;\"/><div class=\"vt ib\">Speak to your Financial Consultant</div></div>
	<div><div class=\"mailimg ib\" style=\"width:32px; height: 32px;\"/><div class=\"vt ib\">comsvc@axa.com.sg</div></div>
	<div><div class=\"phoneimg ib\" style=\"width:32px; height: 32px;\"/><div class=\"vt ib\">1800 880 4888</div></div>
	</div>
	</div>
	<div style=\"position: absolute; bottom: 120px; right: 0px;\">
	<div class=\"axaLogo ib\" style=\"width: 57px; height: 57px;\"/>
	</div>
	<div class=\"pt9\" style=\"position: absolute; bottom: 120px; color: #00529C\">
	<div>
	<font class=\"b\">AXA Insurance Pte Ltd</font><br/>Company Reg. No. 199903512M <br/>8 Shenton Way #24-01<br/>AXA Tower<br/>Singapore 068811
	</div>
	<div class=\"mt16\">
	AXA Customer Centre #01-21/22<br/>
	Tel: 1800 880 4888 Fax: 6880 5501<br/>
	Website: www.axa.com.sg
	</div>
	<div class=\"mt16 pt7\" style=\"color: black\">
	Copyright AXA2018
	</div>
	</div>
	</div>
