<table class=\"w100 pt9\" style=\"border: solid 2px red;\">
<tr>
   <td class=\"nheader\" colspan=\"5\"><font style=\"margin-bottom: 16px\">My budget</font></td>
</tr>
<tr>
   <td class=\"nsheader nborder\" colspan=\"2\">Budget</td>
   <td class=\"nsheader nborder\" style=\"width: 15%\">Myself(S$)</td> <td class=\"nsheader nborder nrb\" style=\"width: 15%\">Spouse(S$)</td>
   <td class=\"nborder\" style=\"border-left: solid 1px black; width:50%;\" rowspan=\"99\">
   <div class=\"pdh4\">
      <div>Please confirm if you have any plans or if there are any factors within the next 12 months which may significantly increase or decrease your current income and expenditure position. (eg. receiving an inheritance, getting a property loan, marriage, expecting a child or salary increment etc.?)</div>
      <div class=\"mt16\">
         <xsl:choose>
            <xsl:when test=\"/root/budget/forceIncome='N'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         No
      </div>
      <div>
         <xsl:choose>
            <xsl:when test=\"/root/budget/forceIncome='Y'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Yes and I confirm that the given budget has taken into consideration the following change:
      </div>
      <div class=\"ta w100\" style=\"min-height: 42px\">
         <xsl:value-of select=\"/root/budget/forceIncomeReason\"/>
      </div>
      <p>Does the budget for <font class=\"b\">Regular Premiums</font> form a substantial portion of your Cash flow surplus (Budget is considered substantial if it is more than 50% of your surplus)</p>
      <div>
         <xsl:choose>
            <xsl:when test=\"/root/budget/confirmBudget='N'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         No
      </div>
      <div>
         <xsl:choose>
            <xsl:when test=\"/root/budget/confirmBudget='Y'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Yes
      </div>
      <div>Please explain why you are comfortable with this budget:</div>
      <div class=\"ta w100\" style=\"min-height: 42px\">
         <xsl:value-of select=\"/root/budget/confirmBudgetReason\"/>
      </div>
      <p>Does the budget for <font class=\"b\">Single Premiums</font> form a substantial portion of your assets (including savings, Fixed deposit(s) and investments?) (Budget is considered substantial if it is more than 50% of assets)</p>
      <div>
         <xsl:choose>
            <xsl:when test=\"/root/budget/confirmSingPremBudget='N'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         No
      </div>
      <div>
         <xsl:choose>
            <xsl:when test=\"/root/budget/confirmSingPremBudget='Y'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Yes
      </div>
      <div>Please explain why you are comfortable with this budget:</div>
      <div class=\"ta w100\" style=\"min-height: 42px\">
         <xsl:value-of select=\"/root/budget/confirmSingPremBudgetReason\"/>
      </div>
      <p class=\"pt8\">The CPF prevailing interest rates are: CPF OA: 2.5% (for balances above the non-investible $20,000) , CPF SA:4% (for balances above the non-investible $40,000). You may refer to the CPF Board website https://www.cpf.gov.sg/Members/AboutUs/about-us-info/cpf-interest-rates for the latest rates.</p>
      <p class=\"pt8\">I/We understand that buying an insurance plan is a long term commitment. An early termination or surrender of plan may result in a surrender value that is less than the total premiums paid, or no surrender value at all.</p>
      <p class=\"pt8\">I/We understand that I may encounter a potential risk of not being able to continue paying my/our premiums in future, if I give a budget that is more than what I could afford in the long term.</p>
   </div>
   </td>
</tr>
<tr>
   <td class=\"nborder tc\" rowspan=\"2\" style=\"width: 5%;\">Cash</td>
   <td class=\"nborder\" style=\"width: 15%; text-align: left;\">
   <div class=\"pd4\">Regular Premium</div>
   <div class=\"pd4 rc\">Source of Fund</div>
   <div class=\"pd4\"><xsl:value-of select=\"/root/budget/aRegPremBudgetSrc\"/></div>
   </td>
   <td class=\"nborder\">
      <div class=\"pd4\">
         <div class=\"w100 dt\">
            <font class=\"dtc\" style=\"width: 16px;\">S$:</font>
            <font class=\"dtc u tr\">
				<xsl:value-of select=\"/root/budget/aRegPremBudget\"/>
            </font>
         </div>
         <div><div class=\"ncrbtn ib\"/> Monthly</div>
         <div><div class=\"ncrbtn ib\"/> Quarterly</div>
         <div><div class=\"ncrbtn ib\"/> Semi-annually</div>
         <div>
            <xsl:choose>
               <xsl:when test=\"/root/budget/hasRegPrem='Y'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Annually
         </div>
      </div>
   </td>
   <td class=\"nborder nrb\">
      <div class=\"pd4\">
         <div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
		</div>
         <div><div class=\"ncrbtn ib\"/> Monthly</div>
         <div><div class=\"ncrbtn ib\"/> Quarterly</div>
         <div><div class=\"ncrbtn ib\"/> Semi-annually</div>
         <div><div class=\"ncrbtn ib\"/> Annually</div>
      </div>
   </td>
</tr>
<tr>
   <td class=\"nborder\" style=\" text-align: left;\">
      <div class=\"pd4\">Single Premium</div>
	  <div class=\"rc pd4\">Source of Fund</div>
	  <div class=\"pd4\"><xsl:value-of select=\"/root/budget/singPremSrc\"/></div>
   </td>
   <td class=\"nborder\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
            <font class=\"dtc\" style=\"width: 16px;\">S$:</font>
            <font class=\"dtc tr\">
			  <xsl:value-of select=\"/root/budget/singPrem\"/>
            </font>
         </div>
      </div>
   </td>
   <td class=\"nborder nrb pd4\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
            <font class=\"dtc\" style=\"width: 16px;\">S$:</font>
        </div>
	 </div>
   </td>
</tr>
<tr>
   <td class=\"nborder tc\" rowspan=\"4\">CPF</td>
   <td class=\"nborder pt8 nrb\" colspan=\"3\">
      <div class=\"pd4\">The budget given for CPF has taken into consideration the minimum sum required to be kept in CPF accounts.</div>
   </td>
</tr>
<tr>
   <td class=\"nborder\">
      <div class=\"pd4\">Ordinary</div>
   </td>
   <td class=\"nborder\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
            <font class=\"dtc\" style=\"width: 16px;\">S$:</font>
            <font class=\"dtc tr\">
			  <xsl:value-of select=\"/root/budget/cpfOaBudget\"/>
            </font>
        </div>
      </div>
   </td>
   <td class=\"nborder nrb\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
            <font class=\"dtc\" style=\"width: 16px;\">S$:</font>
        </div>
	  </div>
   </td>
</tr>
<tr>
   <td class=\"nborder\">
      <div class=\"pd4\">Special</div>
   </td>
   <td class=\"nborder\">
      <div class=\"pd4\">
		  <div class=\"w100 dt\">
				<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
				<font class=\"dtc tr\">
				  <xsl:value-of select=\"/root/budget/cpfSaBudget\"/>
				</font>
			</div>
      </div>
   </td>
   <td class=\"nborder nrb\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
		</div>
	  </div>
   </td>
</tr>
<tr>
   <td class=\"nborder\">
      <div class=\"pd4\">Medisave</div>
   </td>
   <td class=\"nborder\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
			<font class=\"dtc tr\">
			  <xsl:value-of select=\"/root/budget/cpfMsBudget\"/>
			</font>
		</div>
      </div>
   </td>
   <td class=\"nborder nrb\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
		</div>
	  </div>
   </td>
</tr>
<tr>
   <td class=\"nborder\" style=\"border-bottom: red solid 2px; vertical-align: top;\" colspan=\"2\">
      <div class=\"pd4\">SRS</div>
   </td>
   <td class=\"nborder\" style=\"border-bottom: red solid 2px; vertical-align: top;\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
			<font class=\"dtc tr\">
			  <xsl:value-of select=\"/root/budget/srsBudget\"/>
			</font>
		</div>
      </div>
   </td>
   <td class=\"nborder\" style=\"border-bottom: red solid 2px; vertical-align: top;\">
      <div class=\"pd4\">
		<div class=\"w100 dt\">
			<font class=\"dtc\" style=\"width: 16px;\">S$:</font>
		</div>
	  </div>
   </td>
</tr>
</table>
<p class=\"b pt8\"># Note: Your integrated Shield Plan is made up of two parts – MediShield Life Portion provided by the Central Provident Fund Board (CPFB) and an additional private insurance coverage provided by the Company. You are automatically covered by MediShield Life from end 2015 onwards and will be paying premiums for MediShield Life from your Medisave account. Please be mindful that you need to keep sufficient funds in your Medisave Account to pay for your Integrated Shield Plan premiums in the long term. Premiums will increase as you get older.</p>
<div class=\"pagebreak\"/>
<table class=\"w100 pt9\">
   <tr>
      <td class=\"nborder nheader\" colspan=\"3\">About myself</td>
   </tr>
   <tr> <td style=\"width: 20%\" class=\"nsheader nborder\">Personal details</td> <td style=\"width: 40%\" class=\"nsheader nborder\">Myself</td> <td style=\"width: 40%\" class=\"nsheader nborder\">Spouse</td> </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Title</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/title='Dr'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Dr
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/title='Mr'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Mr
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/title='Mrs'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Mrs
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/title='Ms'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Ms
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/title='Mdm'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Mdm
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/title='Dr'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Dr
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/title='Mr'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Mr
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/title='Mrs'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Mrs
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/title='Ms'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Ms
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/title='Mdm'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Mdm
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Name (as in ID)</td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:value-of select=\"/root/owner/fullName\"/>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:value-of select=\"/root/spouse/fullName\"/>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">NRIC/Passport/FIN</td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:if test=\"/root/owner/idDocType\"><xsl:choose><xsl:when test=\"/root/owner/idDocType = 'other'\"><xsl:value-of select=\"/root/owner/idDocTypeOther\"/></xsl:when><xsl:otherwise><xsl:value-of select=\"/root/owner/idDocType\"/></xsl:otherwise></xsl:choose>, <xsl:value-of select=\"/root/owner/idCardNo\"/></xsl:if>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:if test=\"/root/spouse/idDocType\"><xsl:choose><xsl:when test=\"/root/spouse/idDocType = 'other'\"><xsl:value-of select=\"/root/spouse/idDocTypeOther\"/></xsl:when><xsl:otherwise><xsl:value-of select=\"/root/spouse/idDocType\"/></xsl:otherwise></xsl:choose>, <xsl:value-of select=\"/root/spouse/idCardNo\"/></xsl:if>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Date of birth</td>
      <td class=\"pdv4 pdh8 nborder\">
         <div class=\"u ib\" style=\"width: 40px;\">
         <xsl:if test=\"/root/owner/dob/day &lt; 10\">0</xsl:if><xsl:value-of select=\"/root/owner/dob/day\"/>
         </div>(dd) <div class=\"u ib\" style=\"width: 40px;\">
         <xsl:if test=\"/root/owner/dob/month &lt; 10\">0</xsl:if><xsl:value-of select=\"/root/owner/dob/month\"/>
         </div>(mm) <div class=\"u ib\" style=\"width: 60px;\">
         <xsl:value-of select=\"/root/owner/dob/year\"/>
         </div>(yyyy)
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <div class=\"u ib\" style=\"width: 40px;\">
         <xsl:if test=\"/root/spouse/dob/day &lt; 10\">0</xsl:if><xsl:value-of select=\"/root/spouse/dob/day\"/>
         </div>(dd) <div class=\"u ib\" style=\"width: 40px;\">
         <xsl:if test=\"/root/spouse/dob/month &lt; 10\">0</xsl:if><xsl:value-of select=\"/root/spouse/dob/month\"/>
         </div>(mm) <div class=\"u ib\" style=\"width: 60px;\">
         <xsl:value-of select=\"/root/spouse/dob/year\"/>
         </div>(yyyy)
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Gender</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/gender='M'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Male
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/gender='F'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Female
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/gender='M'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Male
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/gender='F'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Female
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Contact No.</td>
      <td class=\"pdv4 pdh8 nborder\">
         Mobile:
         <xsl:value-of select=\"/root/owner/mobile\"/>
         <br/> Other No.:
         <xsl:if test=\"/root/owner/othMobile\"><xsl:value-of select=\"/root/owner/othMobile\"/></xsl:if>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         Mobile:
         <xsl:value-of select=\"/root/spouse/mobile\"/>
         <br/> Other No.:
         <xsl:if test=\"/root/spouse/othMobile\"><xsl:value-of select=\"/root/spouse/othMobile\"/></xsl:if>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Email address</td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:value-of select=\"/root/owner/email\"/>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <xsl:value-of select=\"/root/spouse/email\"/>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Marital status</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/marital='S'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Single
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/marital='M'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Married
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/marital='D'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Divorced
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/marital='W'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Widowed
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/marital='S'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Single
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/marital='M'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Married
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/marital='D'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Divorced
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/marital='W'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Widowed
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Employment status</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='ft'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Full Time
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='se'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Self-employed
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/employStatus='rt'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Retired<br/>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='pt'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Part-time
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='ue'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Unemployed
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/employStatus='hw'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Housewife <br/>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='hh'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Househusband
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/employStatus='sd'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Student <br/>
         <div class=\"dt w100\">
            <div class=\"dtc\" style=\"width: 50px\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/employStatus='ot'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Others
         </div>
         <div class=\"dtc u\">
            <xsl:if test=\"/root/owner/employStatus='ot'\">
               <xsl:value-of select=\"/root/owner/employStatusOther\"/>
            </xsl:if>
         </div>
         </div>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='ft'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Full Time
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='se'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Self-employed
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/employStatus='rt'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Retired <br/>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='pt'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Part-time
         </font>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='ue'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Unemployed
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/employStatus='hw'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Housewife<br/>
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='hh'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Househusband
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/employStatus='sd'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Student<br/>
         <div class=\"dt w100\">
            <div class=\"dtc\" style=\"width: 50px\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/employStatus='ot'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Others
         </div>
         <div class=\"dtc u\">
            <xsl:if test=\"/root/spouse/employStatus='ot'\">
               <xsl:value-of select=\"/root/spouse/employStatusOther\"/>
            </xsl:if>
         </div>
         </div>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Occupation</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:value-of select=\"/root/owner/occupation\"/>
         </font>
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:value-of select=\"/root/spouse/occupation\"/>
         </font>
      </td>
   </tr>
   <tr>
      <td class=\"pdv4 pdh8 nborder\">Smoking status</td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/owner/isSmoker='Y'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Smoker
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/owner/isSmoker='N'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Non-smoker
      </td>
      <td class=\"pdv4 pdh8 nborder\">
         <font class=\"pdr8\">
            <xsl:choose>
               <xsl:when test=\"/root/spouse/isSmoker='Y'\"><div class=\"ib crbtn\"/></xsl:when>
               <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
            </xsl:choose>
            Smoker
         </font>
         <xsl:choose>
            <xsl:when test=\"/root/spouse/isSmoker='N'\"><div class=\"ib crbtn\"/></xsl:when>
            <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
         </xsl:choose>
         Non-smoker
      </td>
   </tr>
</table>
<div class=\"pagebreak\"/>
<p class=\"pt9-5 b\">Please complete the English section only for answers provided by client. The rest are translations in Mandarin, Malay and Tamil.</p>
<div class=\"pt9-5 b\">For Client:</div>
<table class=\"w100 pt8\" style=\"border: solid 2px red\">
<tr>
   <td class=\"pd8 nborder\">Age</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <xsl:value-of select=\"/root/owner/age\"/>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">Educational Level</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">
      <xsl:choose>
         <xsl:when test=\"/root/owner/education='below'\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
      Below GCE ‘N’ or ‘O’ Levels *
   </div>
   <div class=\"ib pdr8\">
      <xsl:choose>
         <xsl:when test=\"/root/owner/education='above'\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
      GCE ‘N’ or ‘O’ Levels and above certificate
   </div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">Language</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">Are you proficient in spoken &amp;/or written English?</div>
   <div class=\"ib pdr8\">
      <xsl:choose>
         <xsl:when test=\"contains(/root/owner/language, 'en')\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
      Yes
   </div>
   <div class=\"ib pdr8\">
      <xsl:choose>
         <xsl:when test=\"not(contains(/root/owner/language, 'en'))\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
      No
   </div>
   </td>
</tr>
<tr>
   <td class=\"nsheader b nborder\" colspan=\"2\">* Client’s Accompaniment</td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div>Please complete the following if you meet any <font class=\"b\">2</font> of the following:</div>
   <div class=\"pdr8 ib\">• 62 years old and above</div>
   <div class=\"pdr8 ib\">• Below GCE ‘N’ or ‘O’ Level</div>
   <div class=\"pdr8 ib\">• English proficiency is selected as “No”</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div class=\"b\">Note: A Trusted individual is a person who is/has:</div>
   <div class=\"pdr8 ib\"><font class=\"b\">1)</font> At least aged 18 </div>
   <div class=\"pdr8 ib\"><font class=\"b\">2)</font> Has at least GCE ‘O’ or ‘N’ Level certificate or Equivalent educational qualification</div>
   <div class=\"ib\"><font class=\"b\">3)</font> Proficient in spoken or written English</div>
   <div class=\"ib\"><font class=\"b\">4)</font> A person who has your trust</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 50%\">
   <div class=\"b\">A. Are you accompanied by a Trusted Individual?</div>
   <div class=\"dt w100\">
      <div class=\"dtc\" style=\"width: 16px;\">
      <xsl:choose>
         <xsl:when test=\"/root/hasTi = 'Y'\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
   </div>
   <div class=\"dtc\">
      <div>Yes, I am accompanied by a Trusted individual</div>
      <div style=\"height: 48px;\">
      <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 60px;\">Relationship:</div>
      <div class=\"dtc u\"><xsl:value-of select=\"/root/ti/relationship\"/></div>
   </div>
   <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 60px;\">Mobile No:</div>
   <div class=\"dtc u\"><xsl:value-of select=\"/root/ti/mobile\"/></div>
   </div> </div> </div> </div> </td> <td class=\"pd8 nborder\" style=\"width: 50%; vertical-align: bottom;\">
   <div class=\"dt w100\">
      <div class=\"dtc\" style=\"width: 16px;\">
      <xsl:choose>
         <xsl:when test=\"/root/hasTi='N'\"><div class=\"ib crbtn\"/></xsl:when>
         <xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise>
      </xsl:choose>
   </div>
   <div class=\"dtc\">
      <div>No, I am not keen to be accompanied by a Trusted </div>
      <div style=\"height: 48px;\"> Individual. I take personal responsibility to <br/> understand the explanations and <br/> recommendations by the Financial Consultant.
   </div>
   </div> </div> </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" colspan=\"2\">
      <div class=\"b\">B) Acknowledgement by the Trusted Individual</div>
      I, <div class=\"u ib\" style=\"min-width: 80px;\">
      <xsl:value-of select=\"/root/ti/name\"/>
      </div> (Trusted Individual’s name) of <xsl:value-of select=\"/root/ti/idDocType\"/>: <div class=\"u ib\" style=\"width: 80px;\">
      <xsl:value-of select=\"/root/ti/idCardNo\"/>
      </div> acknowledge that I have fulfilled the above definition of a Trusted Individual and I am a Trusted Individual to <div class=\"u ib\" style=\"min-width: 80px;\">
      <xsl:if test=\"/root/ti/name\"><xsl:value-of select=\"/root/owner/name\"/></xsl:if>
      </div> (Client’s name). I confirm that the Financial Consultant has conversed in <div class=\"u ib\" style=\"min-width: 80px;\"><xsl:value-of select=\"/root/ti/language\"/></div> to conduct the Financial Needs Analysis and explained the recommendations and application form(s). I confirm that I understand the explanations and recommendations made by the Financial Consultant and I have translated and explained them to
	  <div class=\"u ib\" style=\"min-width: 80px;\">
		<xsl:if test=\"/root/ti/name\"><xsl:value-of select=\"/root/owner/name\"/></xsl:if>
      </div> (Client’s name).
   </td>
</tr>
</table>

<table class=\"w100 pt8\" style=\"border: solid 2px red; margin-top:16px; font-family: 'DroidSansPro'!important\">
<tr>
   <td class=\"pd8 nborder\">年龄</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">教育程度</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">
      拥有剑桥普通教育证书‘N’水准或‘O’水准以下程度<sub>*</sub>
   </div>
   <div class=\"ib pdr8\">
      拥有剑桥普通教育证书‘N’水准 或‘O’水准及以上程度
   </div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">语文能力</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">您是否精通英语对话及/或书面英文？</div>
   <div class=\"ib pdr8\">
      是
   </div>
   <div class=\"ib pdr8\">
      否
   </div>
   </td>
</tr>
<tr>
   <td class=\"nsheader b nborder\" colspan=\"2\"><sub>*</sub> 客户陪同</td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div>如果您符合以下任何两点，请填写以下项目：</div>
   <div class=\"pdr8 ib\" style=\"width: 20%; vertical-align: top;\"><sub>*</sub>62岁及以上</div>
   <div class=\"pdr8 ib\" style=\"width: 38%\"><sub>*</sub>拥有剑桥普通教育证书‘N’水准<br/>或‘O’水准以下程度</div>
   <div class=\"pdr8 ib\" style=\"width: 38%; vertical-align: top;\"><sub>*</sub>选择不精通英语对话及书面英文</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div class=\"b\">注：A.可信赖人士为一名：</div>
   <div class=\"pdr8 ib\"><font class=\"b\">1)</font>至少满18岁 </div>
   <div class=\"pdr8 ib\"><font class=\"b\">2)</font>拥有最低剑桥普通教育证书‘N’水准或‘O’水准及以上或相等的教育程度</div>
   <div class=\"ib\"><font class=\"b\">3)</font> 精通英语对话及/或书面英文 </div>
   <div class=\"ib\"><font class=\"b\">4)</font> 是您信赖的人士</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 50%\">
   <div class=\"b\">A. 您身旁是否有位可信赖人士?</div>
   <div class=\"dt w100\">
      <div class=\"dtc\" style=\"width: 16px;\">
	</div>
   <div class=\"dtc\">
      <div>有，我身旁有名可信赖人士陪同。</div>
      <div style=\"height: 48px;\">
      <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">我们之间的关系是:</div>
      <div class=\"dtc u\"></div>
   </div>
   <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">可信赖人士的手机号码：</div>
   <div class=\"dtc u\"></div>
   </div> </div> </div> </div> </td>
   <td class=\"pd8 nborder\" style=\"width: 50%; vertical-align: bottom;\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
		</div>
		<div class=\"dtc\">
			<div>没有。我身旁没有一名可信赖人士陪同。我确定我了</div>
			<div style=\"height: 48px;\">我确定我了解财务顾问对我所推荐的产品及有关产品的内容和建议，并对此负上全责。
			</div>
		</div>
	</div>
  </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" colspan=\"2\">
      <div class=\"b\">B. 可信赖人士确认</div>
      本人， <div class=\"u ib\" style=\"width: 80px;\">
      </div>（可信赖人士姓名），持有身份证号码/护照号码<div class=\"u ib\" style=\"width: 80px;\">
      </div>确认本身符合作为可信任人士的要求，并有能力成为<div class=\"u ib\" style=\"width: 80px;\">
      </div>（客户姓名）的可信赖人士。本人确认财务顾问以 <div class=\"u ib\" style=\"width: 80px;\"/>（语言）对客户进行财务需求分析并有向客户讲解所推荐的产品及申请表格的内容。本人确认并了解财务顾问对产品的讲解与推荐，也已将所了解的信息翻译并解释给
	  <div class=\"u ib\" style=\"width: 80px;\">
      </div>（客户姓名）知晓。
   </td>
</tr>
</table>

<table class=\"w100 pt8\" style=\"border: solid 2px red; margin-top:16px; font-family: 'Calibri'!important\">
<tr>
   <td class=\"pd8 nborder\">Umur</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">Tahap pendidikan</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">
      Di bawah GCE Peringkat 'N' atau Peringkat 'O'<sub>*</sub>
   </div>
   <div class=\"ib pdr8\">
      GCE Peringkat 'N' atau peringkat 'O' dan ke atas
   </div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">Bahasa</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">Adakah anda mahir bertutur &amp;/atau menulis dalam Bahasa Inggeris?</div>
   <div class=\"ib pdr8\">
      Ya
   </div>
   <div class=\"ib pdr8\">
      Tidak
   </div>
   </td>
</tr>
<tr>
   <td class=\"nsheader b nborder\" colspan=\"2\"><sub>*</sub> Iringan Klien</td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div>Sila lengkapkan jika anda memenuhi mana-mana 2 syarat daripada yang berikut:</div>
   <div class=\"pdr8 ib\" style=\"width: 20%; vertical-align: top;\"><sub>*</sub>62 tahun dan ke atas</div>
   <div class=\"pdr8 ib\" style=\"width: 38%\"><sub>*</sub>Di bawah GCE Peringkat 'N' atau 'O'</div>
   <div class=\"pdr8 ib\" style=\"width: 38%; vertical-align: top;\"><sub>*</sub>Kemahiran Bahasa Inggeris dipilih sebagai \"Tidak \"</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div class=\"b\">Nota: Individu yang Dipercayai adalah seseorang yang/mempunyai:</div>
   <div class=\"pdr8 ib\"><font class=\"b\">1)</font>Sekurang-kurangnya berumur 18 tahun </div>
   <div class=\"pdr8 ib\"><font class=\"b\">2)</font>Mempunyai sekurang-kurangnya sijil GCE peringkat 'O' atau 'N' atau kelayakan pendidikan yang setaraf</div>
   <div class=\"ib\"><font class=\"b\">3)</font> Mahir bertutur atau menulis dalam Bahasa Inggeris</div>
   <div class=\"ib\"><font class=\"b\">4)</font> Seseorang yang mempunyai kepercayaan anda</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 50%\">
   <div class=\"b\">A. Adakah anda ditemani oleh Individu yang Dipercayai?</div>
   <div class=\"dt w100\">
      <div class=\"dtc\" style=\"width: 16px;\">
	</div>
   <div class=\"dtc\">
      <div>Ya saya ditemani oleh Individu yang Dipercayai</div>
      <div style=\"height: 48px;\">
      <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">Hubungan:</div>
      <div class=\"dtc u\"></div>
   </div>
   <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">Nombor Telefon：</div>
   <div class=\"dtc u\"></div>
   </div> </div> </div> </div> </td>
   <td class=\"pd8 nborder\" style=\"width: 50%; vertical-align: bottom;\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
		</div>
		<div class=\"dtc\">
			<div>Tidak. Saya tidak berminat untuk ditemani oleh Individu yang Dipercayai. Saya mengambil tanggungjawab untuk memahami penjelasan dan saranan oleh Konsultan Kewangan secara sendiri.
			</div>
		</div>
	</div>
  </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" colspan=\"2\">
      <div class=\"b\">B. Pengakuan oleh Individu yang Dipercayai</div>
      Saya, <div class=\"u ib\" style=\"width: 80px;\">
      </div>(Nama Individu yang Dipercayai) bagi Kad Pengenalan/Pasport <div class=\"u ib\" style=\"width: 80px;\">
      </div>mengesahkan bahawa saya telah memenuhi definasi seperti diatas sebagai Individu yang Dipercayai dan adalah seorang Individu yang Dipercayai untul <div class=\"u ib\" style=\"width: 80px;\"></div>
      (Nama klien). <br/>Saya mengesahkan bahawa Konsultan Kewangan telah menggunakan bahasa <div class=\"u ib\" style=\"width: 80px;\"/>, untuk menjalankan Analisis Keperluan Kewangan dan menjelaskan segala saranan dan borang permohonan. Saya mengesahkan bahawa saya memahami penjelasan &amp; saranan yang dibuat oleh Konsultan Kewangan dan saya telah menterjemahkan dan menjelaskan kepada
	  <div class=\"u ib\" style=\"width: 80px;\">
      </div>(Nama klien).
   </td>
</tr>
</table>


<table class=\"w100 pt5\" style=\"border: solid 2px red; margin-top:16px; font-family: 'Latha'!important\">
<tr>
   <td class=\"pd8 nborder pt7\">வயது</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">கல்வி நிலை</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8\">
      GCE 'N' நிலை அல்லது 'O' நிலைகளுக்குக் கீழ்<sub>*</sub>
   </div>
   <div class=\"ib pdr8\">
      GCE 'N' நிலை அல்லது 'O' நிலை மற்றும் அதற்கு மேல்
   </div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\">மொழி</td>
   <td style=\"width: 80%\" class=\"pd8 nborder\">
   <div class=\"ib pdr8 pt5\">நீங்கள் ஆங்கில மொழியைப் பேசுவதில் மற்றும்/அல்லது எழுதுவதில் திறன் பெற்றவரா?</div>
   <div class=\"ib pdr8\">
      ஆம்
   </div>
   <div class=\"ib pdr8\">
      இல்லை
   </div>
   </td>
</tr>
<tr>
   <td class=\"nsheader b nborder\" colspan=\"2\"><font class=\"pt9\" style=\"font-family: 'SourceSansPro'!important\"><sub>*</sub> Client’s Accompaniment /</font> <font class=\"pt6\">வாடிக்கையாளர்களுடன் சேர்ந்து வருதல்</font></td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div class=\"pt6\">/ நீங்கள் பின்வரும் ஏதேனும் 2 தகுதிவிதியைக் கொண்டிருக்கிறீர்கள் எனில், தயவுசெய்து கீழேயுள்ள கேள்வி அ -வை நிறைவு செய்யவும்:</div>
   <div>•  62 வயது மற்றும் அதற்கு அதிகமாக</div>
   <div>•  GCE 'N' அல்லது 'O' நிலைகளுக்குக் கீழ்</div>
   <div>•  ஆங்கில மொழித் திறன் ‘இல்லை’ என்று தேர்வு செய்யப்பட்டுள்ளது</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 80%\" colspan=\"2\">
   <div class=\"b pt6\">குறிப்பு: ஒரு நம்பகமான தனிநபர் என்பவர் கீழ்க்கண்ட தகுதியைக் கொண்டிருக்கும் ஒரு நபராகும்:</div>
   <div class=\"pdr8 ib\"><font class=\"b\">1)</font> குறைந்தபட்சம் 18 வயதானவர்</div>
   <div class=\"pdr8 ib\"><font class=\"b\">2)</font>குறைந்தபட்சம் GCE 'O' அல்லது ‘N’ நிலைச் சான்றிதழைப் பெற்றவர் அல்லது அதற்கு இணையான கல்வித் தகுதியைக் கொண்டவர்</div>
   <div class=\"ib\"><font class=\"b\">3)</font> ஆங்கில மொழியைப் பேசுவதில் அல்லது எழுதுவதில் திறன் பெற்றவர்</div>
   <div class=\"ib\"><font class=\"b\">4)</font> வாடிக்கையாளரின் நம்பிக்கையைப் பெற்ற ஒரு நபர்</div>
   </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" style=\"width: 50%\">
   <div class=\"b pt6\">A. .   நீங்கள் ஒரு நம்பகமான தனிநபரின் துணையுடன் வந்திருக்கிறீர்களா*? </div>
   <div class=\"dt w100\">
      <div class=\"dtc\" style=\"width: 16px;\">
	</div>
   <div class=\"dtc\">
      <div><font class=\"pt8\">ஆம்</font>, நான் ஒரு நம்பகமான தனிநபரின் துணையுடன் வந்திருக்கிறேன்</div>
      <div>
      <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">உறவுமுறை:  </div>
      <div class=\"dtc u pt9\"></div>
   </div>
   <div class=\"dt w100\"> <div class=\"dtc\" style=\"width: 180px;\">கைப்பேசி எண்: </div>
   <div class=\"dtc u pt9\"></div>
   </div> </div> </div> </div> </td>
   <td class=\"pd8 nborder\" style=\"width: 50%; vertical-align: bottom;\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
		</div>
		<div class=\"dtc\">
			<div>இல்லை, நான் ஒரு நம்பகமான தனிநபரின் துணையுடன் வரவில்லை. நிதி ஆலோசகரால் வழங்கப்பட்ட விளக்கங்களையும் பரிந்துரைகளையும் நான் புரிந்துகொள்கிறேன் என்று உறுதியளிக்கிறேன்
			</div>
		</div>
	</div>
  </td>
</tr>
<tr>
   <td class=\"pd8 nborder\" colspan=\"2\">
      <div class=\"b pt7\">B. நம்பகமான தனிநபரால் வழங்கப்படும் ஒப்புகை</div>
	நம்பகமான தனிநபரான நான், அடையாள அட்டை/கடவுச்சீட்டு: <div class=\"u ib\" style=\"width: 80px;\"/>நிதி ஆலோசகர் நிதித் தேவைகள் குறித்த மதிப்பீட்டை மேற்கொள்வதற்கு <div class=\"u ib\" style=\"width: 80px;\"/> மொழியில் உரையாடினார் என்றும், மேலும் பரிந்துரைகளையும் விண்ணப்பப் படிவ(ங்களையும்) விளக்கினார் என்றும் உறுதி செய்கிறேன். நிதி ஆலோசகர் வழங்கிய விளக்கங்களையும் பரிந்துரைகளையும் நான் புரிந்துகொண்டேன் என்று நான் உறுதி செய்கிறேன். இதை நான் <div class=\"u ib\" style=\"width: 80px;\"/>(வாடிக்கையாளர் பெயர்) அவருக்கு மொழிபெயர்த்து, விளக்கியுள்ளேன்.
   </td>
</tr>
</table>
<div class=\"pagebreak\"/>
